In [3]:
set.seed(12345)

In [4]:
StudentData <- data.frame("student Id" = 1001:1020)

In [5]:
StudentData$gender <- sample(c("Male", "Female"), nrow(StudentData), replace = TRUE, prob = c(3/5, 2/5))

In [6]:
StudentData$age <- sample(19:21, nrow(StudentData), replace = TRUE)

In [7]:
StudentData$degree <- sample(c("CS", "IS", "SE"), nrow(StudentData), replace = TRUE)

In [8]:
StudentData$mahapola_scholarship <- 6500

In [9]:
stipend <- seq(2000, 5000, by = 250)

In [10]:
StudentData$special_scholarship_stipend <- sample(stipend, nrow(StudentData), replace = TRUE)

In [11]:
print(StudentData)

   student.Id gender age degree mahapola_scholarship
1        1001 Female  21     SE                 6500
2        1002 Female  20     SE                 6500
3        1003 Female  20     CS                 6500
4        1004 Female  19     SE                 6500
5        1005   Male  20     CS                 6500
6        1006   Male  21     CS                 6500
7        1007   Male  19     IS                 6500
8        1008   Male  20     IS                 6500
9        1009 Female  19     SE                 6500
10       1010 Female  20     SE                 6500
11       1011   Male  21     CS                 6500
12       1012   Male  20     SE                 6500
13       1013 Female  20     SE                 6500
14       1014   Male  21     CS                 6500
15       1015   Male  19     IS                 6500
16       1016   Male  19     SE                 6500
17       1017   Male  21     CS                 6500
18       1018   Male  20     SE                 6500
19       1019   Male  19     IS                 6500
20       1020 Female  19     SE                 6500
   special_scholarship_stipend
1                         5000
2                         3250
3                         2500
4                         3500
5                         4250
6                         3500
7                         4250
8                         3500
9                         3500
10                        3000
11                        3500
12                        4750
13                        4750
14                        4250
15                        5000
16                        4750
17                        3750
18                        2500
19                        3000
20                        4500

In [12]:
StudentData$net_scol <- StudentData$mahapola_scholarship - StudentData$special_scholarship_stipend

In [13]:
CS_net_schol <- StudentData[StudentData$degree == "CS", ]

In [14]:
print(CS_net_schol)

   student.Id gender age degree mahapola_scholarship
3        1003 Female  20     CS                 6500
5        1005   Male  20     CS                 6500
6        1006   Male  21     CS                 6500
11       1011   Male  21     CS                 6500
14       1014   Male  21     CS                 6500
17       1017   Male  21     CS                 6500
   special_scholarship_stipend net_scol
3                         2500     4000
5                         4250     2250
6                         3500     3000
11                        3500     3000
14                        4250     2250
17                        3750     2750

In [15]:
High_Schol <- StudentData[StudentData$net_schol >9000 , ]

In [16]:
print(High_Schol)

[1] student.Id                  gender
[3] age                         degree
[5] mahapola_scholarship        special_scholarship_stipend
[7] net_scol
<0 rows> (or 0-length row.names)

In [17]:
summary(StudentData)

   student.Id      gender               age           degree
 Min.   :1001   Length:20          Min.   :19.00   Length:20
 1st Qu.:1006   Class :character   1st Qu.:19.00   Class :character
 Median :1010   Mode  :character   Median :20.00   Mode  :character
 Mean   :1010                      Mean   :19.90
 3rd Qu.:1015                      3rd Qu.:20.25
 Max.   :1020                      Max.   :21.00
 mahapola_scholarship special_scholarship_stipend    net_scol
 Min.   :6500         Min.   :2500                Min.   :1500
 1st Qu.:6500         1st Qu.:3438                1st Qu.:1938
 Median :6500         Median :3625                Median :2875
 Mean   :6500         Mean   :3850                Mean   :2650
 3rd Qu.:6500         3rd Qu.:4562                3rd Qu.:3062
 Max.   :6500         Max.   :5000                Max.   :4000